<div *ngIf="hero">
  
  <div class="info-card">
    <div class="front">
      <img src={{hero.img_url}} class="card-image" alt="Hero Image">					
    </div>			  
    <div class="back">
      <div>
        <label>Nome Mutante: </label>
        <input [(ngModel)]="hero.xname" placeholder="name" /> 
      </div>
      <div>
        <label>Poderes: </label>
        <ul class="list-group">
        <li *ngFor="let power of hero.powers; let i = index" [attr.data-index]="i" class="list-group-item">            
          {{power}}                
        </li>
        </ul>									  
        <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
      </div>
    </div>        
	</div>                       
    
</div>
